.home-profile {
    border-radius: 6px;

    overflow: hidden;

    .home-profile-hotel {
        height: 143px;

        background: url(../images/hotel.png);
    }

    .home-profile-actions {
        background: #7B7B71;

        box-sizing: border-box;

        padding: 8px 18px;

        height: 66px;

        position: relative;

        display: grid;

        grid-template-areas:
            "plate motto"
            "empty links";
        
        grid-row-gap: 7px;
        grid-column-gap: 18px;
        grid-template-columns: 94px auto;
        grid-template-rows: 50%;

        .home-profile-plate {
            grid-area: plate;

            width: 94px;
            height: 59px;

            background: url(../images/plate.png);

            position: relative;

            bottom: 24px;

            img {
                position: absolute;

                left: 12px;
                bottom: 28px;
            }
        }

        .home-profile-motto {
            grid-area: motto;

            height: 22px;

            background: #FFF;

            border-radius: 6px;

            box-shadow: 1px 2px 0 1px rgba(0, 0, 0, .25);

            display: grid;

            grid-gap: 6px;

            grid-template-columns: max-content auto;
            grid-template-areas: "name motto";

            box-sizing: border-box;

            padding: 4px 12px;

            .home-profile-motto-name {
                grid-area: name;

                font-weight: bold;
            }

            input {
                height: 12px;
            }
        }

        .home-profile-links {
            grid-area: links;


            display: grid;
            grid-auto-flow: column;

            :first-child {
                text-align: left;
            }

            :last-child {
                text-align: right;
            }

            text-align: center;

            img {
                position: relative;

                top: 1px;
            }

            a {
                color: #FFF;

                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .home-profile-section {
        background: #A0A097;

        box-sizing: border-box;

        padding: 8px 12px;

        display: grid;

        grid-template-columns: 36px auto;
        grid-gap: 12px;

        position: relative;

        .home-profile-section-icon {
            display: flex;

            img {
                margin: auto;

                max-width: 100%;
            }
        }

        .home-profile-section-content {
            padding: 6px 0;

            .button {
                margin-top: 4px;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px dotted #7B7B73;
        }
    }
}
